@{
    ViewData["Title"] = "CBank";
}

<div class="row justify-content-center">
    <div class="col-4 align-self-center">
        <h2>
            Bem-vindo à CBank Intranet
        </h2>
        <p class="font-weight-light">
            Um espaço seguro e exclusivo projetado para conectar e fortalecer nossa equipe. Aqui, você encontrará as ferramentas e recursos necessários para realizar suas tarefas com eficiência e segurança, além de ter acesso a informações atualizadas sobre produtos, serviços e políticas internas.
        </p>
    </div>
    <div class="col-8 align-self-center">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/img/1.png" class="d-block w-100 rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="/img/2.png" class="d-block w-100 rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/3.png" class="d-block w-100 rounded img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<hr />

<div class="justify-content-center">
    <h3>Funcionários do mês:</h3>
</div>

<div class="row justify-content-center">
    <div class="card m-3" style="width: 9rem;">
        <img class="card-img-top rounded-circle img-fluid mt-4" src="/img/funcionariosdomes/amanda.jpeg" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">Amanda Lima</p>
        </div>
    </div>

    <div class="card m-3" style="width: 9rem;">
        <img class="card-img-top rounded-circle img-fluid mt-4" src="/img/funcionariosdomes/bernardo.jpeg" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">Bernardo Campos</p>
        </div>
    </div>

    <div class="card m-3" style="width: 9rem;">
        <img class="card-img-top rounded-circle img-fluid mt-4" src="/img/funcionariosdomes/douglas.jpeg" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">Douglas Fernandes</p>
        </div>
    </div>

    <div class="card m-3" style="width: 9rem;">
        <img class="card-img-top rounded-circle img-fluid mt-4" src="/img/funcionariosdomes/thomas.jpeg" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">Thomas Lousada</p>
        </div>
    </div>

    <div class="card m-3" style="width: 9rem;">
        <img class="card-img-top rounded-circle img-fluid mt-4" src="/img/funcionariosdomes/victor.jpeg" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">Victor Feltrim</p>
        </div>
    </div>
</div>